@import "tailwindcss/preflight";
@import "tailwindcss/utilities";


/* Custom Font Setup - Britti Sans Trial */
@font-face {
  font-family: 'Britti Sans Trial';
  src: url('/fonts/BrittiSansTrial-Light-BF6757bfd494951.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Britti Sans Trial';
  src: url('/fonts/BrittiSansTrial-LightItalic-BF6757bfd48c7c7.otf') format('opentype');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Britti Sans Trial';
  src: url('/fonts/BrittiSansTrial-Bold-BF6757bfd4a96ed.otf') format('opentype');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Britti Sans Trial';
  src: url('/fonts/BrittiSansTrial-BoldItalic-BF6757bfd4a2285.otf') format('opentype');
  font-weight: 700;
  font-style: italic;
}

/* Apply Britti Sans Trial as the primary font */
body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
  font-family: "Britti Sans Trial", "Inter", sans-serif;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

/* Remove default margins and apply smooth scrolling */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
  font-size: 18px; /* Base font size for rem units. Increased from 16px for a larger UI. */
}
