.container {
    background-image: url('/assets/woven-bg.png');
    background-size: cover;
    background-position: center;
    width: 100%;
    max-width: 390px;
    height: 100vh;
    margin: 0 auto;
}